.section {
  padding: 20px;
  margin: 10px 200px 10px 200px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home {
  color: #2980b9;
  border-color: #2980b9;
}

.home p {
  font-size: 1.2rem;
}
